<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">CRUD Tourism</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link" routerLink="/Tourist" routerLinkActive="active">Tourists</a>
      <a class="nav-link" routerLink="/City" routerLinkActive="active">Cities</a>
      <a class="nav-link" routerLink="/Travel" routerLinkActive="active">Travels</a>
    </div>
  </div>
</nav>

<br>
<div class="container">
  <router-outlet></router-outlet>
</div>


