<div class="container align-items-center">
  <img src="assets/vacations.png" alt="turismo" class="rounded mx-auto d-block" height="550px">
</div>


<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a> Realizado por: Brayan Hernandez</a> <br>
    <a> bshernandezr@unal.edu.co</a> <br>
    <a> Cel: 3203267711 </a> <br>
  </div>

</footer>
